body {
  background: slategray;
}

.content {
  background: tomato;
  width: 70%;
  margin: 0 auto;
}

main {
  display: flex;
  width: 100%;
}

.main {
  width: 70%;
  background: lightpink;
}

.sidebar {
  width: 30%;
  background: teal;
}

.articleList {
  display: flex;
}

header {
  background: mediumaquamarine;
  width: 100%;
}

.header {
  height: 8rem;
  margin: 1rem auto;
  background: orange;
  display: flex;
  justify-content: space-around;
}

.user__img img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user__post-num:after {
  content: "";
  border: 0.5px solid black;
  margin: 0 0.5rem;
}
