// mixin 정의
@mixin bp-tablet {
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    @content;
  }
}

@mixin bp-pc {
  @media only screen and (min-width: 961px) {
    @content;
  }
}

html,
body {
  overflow-x: hidden;
}

//mixin 사용
body {
  font-size: 4vw;
}

img {
  width: 100%;
}

.content {
  background: lawngreen;
}

.main {
  background: lightpink;
  .hljs {
    overflow: scroll;
    .code__content {
      width: 100%;
    }
  }
  .sidebar {
    background: teal;
  }
  .articleList {
    display: flex;
  }
  .header {
    background: mediumaquamarine;
    width: 95%;
    margin: 0 auto;
    background: #ffa500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .user {
      display: flex;
      &__img {
        display: flex;
        justify-content: center;
        flex-direction: column;
        img {
          width: 10vw;
          height: 10vw;
          border-radius: 50%;
        }
      }
      &__username {
        background: rebeccapurple;
        line-height: 13vw;
        margin-left: 1vw;
      }
    }
  }
  .nav {
    background: navajowhite;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
  }
  .article {
    border: 1px solid black;
  }
  .article:after {
    content: "";
    height: 3rem;
    width: 100%;
    background: red;
    display: block;
  }
}

// /* tablet style */
// @media only screen and (min-width: 401px) and (max-width: 960px) {
//     body
// }
// /* desktop style */
// @media only screen and (min-width: 961px) {}
