@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding");
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #333;
}

img {
  width: 100%;
}

body {
  font-size: 1rem;
}

@media only screen and (min-width: 961px) {
  body {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

a {
  color: #333;
}

a:hover {
  color: #3cb371;
}

.header {
  position: relative;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header li {
  list-style-type: none;
}

.header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .user__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 961px) {
  .header .user {
    width: 80%;
    margin: 0 auto;
    height: 10rem;
  }
}

.header .user__img img {
  width: 3rem;
  height: 3rem;
  border: 1px solid #f7f7f7;
  border-radius: 50%;
}

@media only screen and (min-width: 961px) {
  .header .user__img img {
    width: 5rem;
    height: 5rem;
  }
}

.header .user__img img:hover {
  border-color: #bebebe;
}

.header .user__username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  color: #333;
}

@media only screen and (min-width: 961px) {
  .header .user__username {
    font-size: 2rem;
  }
}

.header .user__username div {
  display: inline-block;
}

.header .user__social i {
  padding-right: 0.5rem;
  line-height: 4rem;
  color: #333;
}

@media only screen and (min-width: 961px) {
  .header .user__social i {
    line-height: 10rem;
  }
}

@media only screen and (max-width: 401px) {
  .header .user__social i {
    font-size: 1.5rem;
  }
}

.header .user__social i:hover {
  color: #3cb371;
}

.header .nav {
  height: 3rem;
  padding: 0 1rem;
  background: #fff;
  color: #333;
  border-top: 0.1rem solid #f7f7f7;
}

@media only screen and (min-width: 961px) {
  .header .nav__category {
    display: none;
  }
}

.header .nav ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 961px) {
  .header .nav ul {
    padding: 0 10%;
  }
}

.header .nav ul a {
  text-decoration: none;
}

.header .nav__search i {
  display: none;
}

@media only screen and (max-width: 401px) {
  .header .nav__search i {
    display: block;
  }
}

@media only screen and (max-width: 401px) {
  .header .nav__search input {
    display: none;
  }
}

.header .nav .category {
  display: none;
}

.header .nav .category.show {
  height: 10rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
}

@media only screen and (min-width: 961px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
}

.content .sidebar {
  background: #f7f7f7;
  padding: 4rem 1.5rem;
}

.content .sidebar li {
  list-style-type: none;
}

@media only screen and (min-width: 961px) {
  .content .sidebar {
    margin: 2rem 0 0 2rem;
    width: 25%;
    text-align: left;
  }
}

@media only screen and (min-width: 961px) {
  .content .main {
    width: 75%;
    padding-top: 5rem;
  }
}

.content .main .hljs {
  overflow: scroll;
}

.content .main .hljs .code__content {
  width: 100%;
}

.content .main .article {
  border-bottom: 1px solid #f7f7f7;
  padding: 1rem;
}

.content .main .article .value h1 {
  margin: 0;
  font-size: 1rem;
}

@media only screen and (min-width: 961px) {
  .content .main .article .value h1 {
    font-size: 2rem;
  }
}

.content .main .article .value h1:hover {
  color: #3cb371;
}

.content .main .article .value span {
  color: #565a5e;
  font-size: 0.5rem;
}

@media only screen and (min-width: 961px) {
  .content .main .article .value span {
    font-size: 1rem;
  }
}

.list {
  padding: 3rem 1rem;
}

@media only screen and (min-width: 961px) {
  .list {
    padding: 0;
  }
}

.list .title {
  font-size: 1rem;
}

@media only screen and (min-width: 961px) {
  .list .title {
    font-size: 2rem;
  }
}

.list .title i {
  color: #3cb371;
}

@media only screen and (min-width: 961px) {
  .list .title i {
    font-size: 2.5rem;
  }
}

.list li {
  margin: 2vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list li i {
  padding-right: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #3cb371;
  background: #fff;
  font-size: 3vw;
}

@media only screen and (min-width: 961px) {
  .list li i {
    font-size: 1.2rem;
    padding-right: 0;
  }
}

.list li .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 961px) {
  .list li .content {
    margin: 0 2rem;
  }
}

.list li .content span:nth-child(2) {
  color: #565a5e;
  font-size: 0.5rem;
}

@media only screen and (min-width: 961px) {
  .list li .content span:nth-child(2) {
    font-size: 1rem;
  }
}

#goUp {
  border: none;
  background: none;
  display: none;
  position: fixed;
  bottom: 10px;
  z-index: 99;
  left: 1rem;
  font-size: 2.5rem;
}

@media only screen and (min-width: 961px) {
  #goUp {
    left: 72%;
    bottom: 2rem;
    font-size: 4rem;
  }
}

.modal {
  opacity: 0;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  overflow: auto;
}

.modal.show {
  opacity: 1;
  display: block;
}

.modal__wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__wrap .modal__content {
  z-index: 2;
  overflow: scroll;
  background: #fff;
  width: 100%;
  height: 100vh;
}

@media only screen and (min-width: 961px) {
  .modal__wrap .modal__content {
    width: 50%;
    height: 70vh;
  }
}

.modal__wrap .modal__content-input {
  width: 100%;
}

.modal__wrap .modal__content-input input {
  padding: 1rem;
  font-size: 1.5rem;
  width: 80%;
  height: 2rem;
  border: 0;
}

.modal__wrap .modal__content-input input:focus {
  border: 0;
  outline: none;
}

.modal__wrap .modal__content-input .fa-times-circle {
  padding-top: 1rem;
}

.modal__wrap .modal__content-input .fa-times-circle:hover {
  color: #617d8a;
}

.modal__wrap .modal__content-list ul {
  padding: 0;
}

.modal__wrap .modal__content-list ul li {
  background: #f1f1f1;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.modal__wrap .modal__content-list ul li:hover {
  background: #617d8a;
}

.modal__wrap .modal__content-list ul li:hover p {
  color: #fff;
}

.modal__wrap .modal__content-list ul li:hover p:nth-child(2) {
  color: #fff;
}

.modal__wrap .modal__content-list ul li a {
  text-decoration: none;
}

.modal__wrap .modal__content-list ul li a p {
  display: inline;
}

.modal__wrap .modal__content-list ul li a p:nth-child(2) {
  color: gray;
}

.home__list {
  padding: 1.5rem;
  border-bottom: 1px solid #dddddd;
  font-size: 0.8rem;
}

.home__list-date {
  color: #212121;
  padding-bottom: 0.5rem;
}

.home__list-link {
  text-decoration: none;
}

.home__list-link .title {
  margin: 0.5rem 0;
  font-size: 2rem;
  font-weight: 900;
  color: #262626;
}

.home__list-link .desc {
  color: #424242;
}
/*# sourceMappingURL=index.css.map */