<div class="user">
  <div class="user__img">
    <a href="/">
      <img src="<%= author.image %>" alt="">
    </a>
  </div>

  <div class="user__username">
    <%= author.username %>
  </div>
  <div class="user__social">
    <% if(author.github){ %>
      <a href="<%=author.github %>">
        <div class="github">
          <i class="fab fa-github fa-2x"></i>

        </div>

      </a>

      <%}%>
        <% if(author.facebook) { %>
          <div class=" facebook ">
            페이스북
          </div>
          <%}%>
  </div>

</div>
<div class="nav ">
  <div class="nav__home">
    Home
  </div>
  <div class="nav__category">
    Category
  </div>
  <div class="nav__about">
    About
  </div>
  <div class="nav__search ">
    Search


  </div>
</div>