<header>

  <div class="header">
    <div class="user__img">
      <a href="/">
        <img src="<%= author.image %>" alt="">
      </a>
    </div>
    <div class="user">
      <div class="user__username">
        <%= author.username %>
      </div>
      <div class="user__post">
        <span class="user__post-num">
          <span>글</span>
          <span>
            <%= postNum %>
          </span>
        </span>
        <span class="user__post-categoies">
          <span>카테고리</span>
          <span>
            <%= categoryNum %>
          </span>
        </span>
      </div>
      <div class="user__description">
        <%=author.description %>
      </div>

    </div>
    <div class="search">
      <div class="search__icon">
        search

      </div>
    </div>

  </div>
</header>