<% articles.forEach((article, index) => { %>

  <% if(article.value.category !== undefined) { %>
    <div class="article">
      <div class="value">
        <div class="value__title">

          <a href="/deploy/<%= files[index].category %>/<%= files[index].file %>">
            <h1>


              <%= article.value.title %>

            </h1>
          </a>

        </div>
        <div class="value__title">
          <span>
            <%= article.value.date %>
          </span>

        </div>

        <h1>
        </h1>

      </div>
      <%- article.convertedFile %>
    </div>

    <% } %>


      <% }) %>